html,
body {
  max-width: 100vw;
  background: transparent;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

div {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

:root {
  color-scheme: light dark;
  --bodyBgLight: #fff;
  --bodyBgDark: #000;
  --bodyBg: light-dark(var(--bodyBgLight), var(--bodyBgDark));
}

:root.t_dark {
  --bodyBg: var(--bodyBgDark);
}

:root.t_light {
  --bodyBg: var(--bodyBgLight);
}

body {
  margin: 0;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

body > div {
  min-height: 100vh !important;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color05);
  text-underline-offset: 4px;
  transition: all ease-in 100ms;
}

/* fix safari adjusting some random font sizes bigger */
@media screen and (max-device-width: 480px){
  body {
    -webkit-text-size-adjust: 100%;
  }
}
