html,
body {
  max-width: 100vw;
  background-color: transparent !important;
}

body {
  overflow-x: hidden;
}

body {
  margin: 0;
  position: relative;
  max-width: 100vw;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color025);
  text-underline-offset: 3px;
  transition: all ease-in 100ms;
}

a.is_Button, .text-decoration-none, a:has(div) {
  text-decoration: none;
  transition: none;
}

@media screen and (pointer: coarse) {
  .home-layout-mouse {
    opacity: 0;
  }
}
