name: Checks and Tests

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  checks:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        with:
          install-playwright: 'false'

      - name: Security Audit
        run: bun audit --audit-level high

      - name: Check
        run: bun run check

      # workaround of node_modules/.bin/biome not being executable
      - run: chmod +x node_modules/@biomejs/biome/bin/biome

      - name: Lint
        run: bun run lint

      - name: Typecheck
        run: bun run typecheck

  tests:
    runs-on: macos-14
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - name: Test
        run: bun run test
        env:
          NODE_OPTIONS: --max-old-space-size=4096
