name: Checks and Tests

on:
  push:
  pull_request:

env:
  # Package name in the monorepo
  test_app_package_name: test-test

jobs:
  checks:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        # with:
        #  workspace-focus: ${{ env.test_app_package_name }}

      - name: Security Audit
        run: bun audit --audit-level high

      - name: Check
        run: bun run check

      # workaround of node_modules/.bin/biome not being executable
      - run: chmod +x node_modules/@biomejs/biome/bin/biome

      - name: Lint
        run: bun run lint

  typecheck:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        # with:
        #   workspace-focus: ${{ env.test_app_package_name }}

      - name: Typecheck
        run: bun run typecheck

  tests:
    # runs-on: ubuntu-latest
    runs-on: macos-14 # temporarily fix ubuntu runner being killed (https://github.com/actions/runner/issues/2468)
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        # with:
        #   workspace-focus: ${{ env.test_app_package_name }}

      - name: Test
        run: bun run test
        env:
          NODE_OPTIONS: --max-old-space-size=4096
